$minwidth: 320px;
$mq-sm: 576px;
$mq-md: 768px;
$mq-lg: 1024px;
$mq-xl: 1280px;
$mq-xxl: 1536px;
$mouse-device: "(hover: hover) and (pointer: fine)";
$touch-device: "(hover: none) and (pointer: coarse)";

$font-size: 1.6rem;

$font-family-primary: "Roboto", sans-serif;
$font-family-secondary: "Risque", serif;

// main colors
// $color-primary
// $color-secondary
$color-accent: #D02B2B;

// text colors
$color-text-primary: #fff;
// $color-text-secondary
// $color-text-muted

// background colors
$color-background: #141429;
// $color-background-light
// $color-background-dark

// interface element colors
// $color-button
// $color-button-hover
// $color-link
// $color-link-hover

// state colors
// $color-success
// $color-error
// $color-warning