.input {
    border: .3rem solid #fff;
    border-radius: 1.5rem;
    width: 100%;
    height: 5.1rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 1rem 2.6rem;
    font-size: 2rem;
    color: $color-text-primary;

    &:focus-visible {
        outline: none;
    }

    &::placeholder {
        color: $color-text-primary;
    }
}

.textarea {
    border: .3rem solid #fff;
    border-radius: 1.5rem;
    width: 100%;
    height: 9.5rem;
    background-color: transparent;
    display: flex;
    padding: 1.6rem 2.6rem;
    font-size: 2rem;
    color: $color-text-primary;
    resize: none;

    &:focus-visible {
        outline: none;
    }

    &::placeholder {
        color: $color-text-primary;
    }
}

.checkbox {
    display: flex;
    align-items: center;
    position: relative;
    gap: 0.7rem;
    cursor: pointer;

    & input {
        position: absolute;
        z-index: -1;
        visibility: hidden;

        &:checked ~ .checkbox__marker {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMgNi43OTMwOEw3LjA2MDIgMTAuNzMyTDEzLjUgMy43OTMwOCIgc3Ryb2tlPSIjRDAyQjJCIiBzdHJva2Utd2lkdGg9IjMiLz4KPC9zdmc+Cg==");
            background-color: #fff;
        }

        &:checked ~ .checkbox__text {
            color: $color-accent;
        }
    }

    &__marker {
        height: 2rem;
        width: 2rem;
        border: 2px solid $color-accent;
        border-radius: .3rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    &__text {
        font-size: 1.8rem;
        transition: color .15s ease;
    }
}