.h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 5.2rem;
    font-family: $font-family-secondary;

    @media (min-width: $mq-lg) {
        font-size: 7.2rem;
    }
}

.h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 5.2rem;
    font-family: $font-family-secondary;

    @media (min-width: $mq-lg) {
        font-size: 5.6rem;
    }
}

.h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4.2rem;
    font-family: $font-family-secondary;

}

.subtitle {
    font-family: $font-family-secondary;
    font-size: 2.8rem;

    @media (min-width: $mq-lg) {
        font-size: 3.8rem;
    }
}
